img.payment-logo {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-bottom: 10px;
}

img.qr-code { 
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    margin-left: 80%;
    width: 20%;
}

.payment-option {
    display: flex;
    align-items: center;
}

.payment-option img {
    margin-left: 10px;
}